# Flutter/Dart
.dart_tool/
.packages
pubspec.lock
build/
**/android/gradle/
**/android/.gradle
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# IDE
.idea/
.vscode/
*.iml
*.swp
*.swo
*~
.DS_Store

# Web
build/web/

# Windows
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugin_registrant.h
windows/flutter/generated_plugins.cmake

# MacOS
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Flutter/ephemeral/

# Linux
linux/flutter/generated_plugin_registrant.cc
linux/flutter/generated_plugin_registrant.h
linux/flutter/generated_plugins.cmake

# Logs
*.log
